@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
}

body {
    @apply bg-white text-gray-900 text-sm antialiased;
}

.btn {
    @apply cursor-pointer bg-gradient-to-r from-indigo-600 to-[#8A7DFF];
}